@inject ISnackbar Snackbar

@inject GraphServiceClient Client

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            Select Excel Table
        </MudText>
    </TitleContent>    
    <DialogContent>
        <div style="min-width:250px">
            <MudSelect @bind-Value=SelectedTable  Dense="true" T="WorkbookTable" Label="Table" Variant="Variant.Text" FullWidth=true>
                @foreach (var table in Tables)
                {
                    <MudSelectItem Value="@table">@table.Name</MudSelectItem>                
                }
            </MudSelect>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SelectTable">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter] 
    public IWorkbookTablesCollectionPage Tables { get; set; } = null!;

    private WorkbookTable SelectedTable { get; set; } = null!;

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void SelectTable()
    {
        if (SelectedTable is null)
            Snackbar.Add("Select A Table", Severity.Warning);
        else
            MudDialog.Close(DialogResult.Ok(SelectedTable));
    }
}